<html>
    <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AGROTECH</title>
<style>
  body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('TitlePage_BG.webp') no-repeat;
  }
</style>
    </head>
        <body>
        <div class="agrotech-logo">AGROTECH</div>
        <button class="get-started"><p onclick="openOtherPage('News.html')">Get Started</p></button>
                <script>
                    function openOtherPage(filename) {
                    window.location.href = filename; // Use window.location.href for same tab
                    }
                </script>
                </body>
</html>