<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Agritech</a>
    </header>

    <section class="home">
        <div class="content">
            <h2>Agritech is Amazing!</h2>
            <p> Revolutionizing agriculture with next-gen farming by integrating 
                cutting-edge satellite data for precision agriculture and sustainable 
                growth. Harnessing space technology to optimize crop yields and resource 
                management.</p>
            <a href="#">Get Started</a>
        </div>
        <div class="wrapper-login">
            <h2>Login</h2>
            <form action="/" method="post">
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="text" name="username" required>
                    <label>Enter your username</label>
                </div>
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="password" name="password" required>
                    <label>Enter your Password</label>
                </div>
                <input type="Submit" value="Login">
            </form>
        </div>
    </section>
</body>
</html>